@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

/*propiedades que vienen por default*/
a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}
header img{
    width: auto;
    height: 5rem;
}

img{
    width: auto;
    height: 10rem;
}

h2{
    text-align: center;
}

/*Estilando los contenedores principales*/


header{
    background-color: aqua;
    display: flex;
}

.hero{
    background-color: blanchedalmond;
    display: flex;
    justify-content: center;
}

.seccionHabilidades{
    background-color: chocolate;
    display: flex;
    flex-direction: column;
}

.seccionProyectos{
    background-color:rosybrown;
    display: flex;
    flex-direction: column;
}

.about{
    background-color: goldenrod;
}

.seccionContactos{
    background-color: gray;
}

.seccionFooter{
    background-color: firebrick;
}


/*SubContenedores de los principales*/

.seccionHabilidades .contenedorHabilidades{
    display: flex;
}

.contenedorProyectos{
    display: flex;
    flex-direction: column;
    
}

.contenedorProyectosdos{
    display: flex;
    flex-direction: column;
}

.contenedorProyectospadre{
    display: flex;
    flex-direction: row;
    justify-content: center;
}