body{background-color: cadetblue;
}

header{
    background-color: aqua;
}

.hero{
    background-color: blanchedalmond;
}

.seccionHabilidades{
    background-color: chocolate;
}

.seccionProyectos{
    background-color:rosybrown;
}

.about{
    background-color: goldenrod;
}

.seccionContactos{
    background-color: gray;
}

