@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
    
}

/*propiedades que vienen por default*/
a{
    text-decoration: none;
    color: black;
}

ul{
    list-style-type: none;
}


img{
    
    height: 10rem;
}



/*Estilando los contenedores principales Y Rellenando lo lineado*/

/*Color relleno alineado*/
header{
    background-color:rgb(32, 32, 32);
    
}

.contenedorheaderseccion{
    display: flex;
    justify-content: space-between;
    height: 3rem;
    align-items: center;

    width: 80%;
    margin: 0 auto;
}




.hero{
    background-color: rgb(32, 32, 32);
    display: flex;
    justify-content: center;
    height: 85vh;

}
/*Color relleno alineado*/

.seccionHabilidades{
    background-color: rgb(39, 39, 39)

}

.contenedorhabilidadesseccion{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;

    width: 80%;
    margin: 0 auto;

}

/*Color relleno alineado*/

.seccionProyectos{
    background-color:rgb(32, 32, 32);

}
.contenedorproyectosseccion{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;

    width: 80%;
    margin: 0 auto;
}

/*Color relleno alineado*/

.about{
   
    background-color: rgb(39, 39, 39);
    

}
.contenedoraboutseccion{
    width: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 5rem 0;
}


/*Color relleno alineado*/

.seccionContactos{
    background-color:rgb(32, 32, 32);
   
}
.contenedorcontactosseccion{
    display: flex;
    flex-direction: column;
    padding: 5rem 0;

    width: 80%;
    margin: 0 auto;
}





/*Estilo para los contenedores---------------------------------------*/
header img{
    width: auto;
    height: 2.5rem;
}
header nav a{
    margin-left: 2.5rem;
    color: rgb(234, 234, 234);
}

header .alineariconos a{
    margin-left: 2rem;
    color: rgb(234, 234, 234);
}

header .alineariconos i{
    font-size: 1.5rem;
}
/*hero*/
.hero img{
    height: 15rem;
    width: 40rem;
}

.hero .contenedor-hero h2{
    background-color:rgb(32, 32, 32);
    font-size: 4.1rem;
  
    color: rgb(235, 235, 235);
    text-align: start;
    
}
/*habilidades*/
.seccionHabilidades .contenedorHabilidades .habilidadhijo img{
    height: 10rem;
    margin-top: 40px;
}

.seccionHabilidades .contenedorhabilidadesseccion h2{
    text-align: center;
    margin-bottom: 60px;
    padding: 0;
    font-size: 3rem;
    color: rgb(235, 235, 235);
}

.seccionHabilidades .contenedorhabilidadesseccion .contenedorHabilidades .habilidadhijo h2{
    font-size: 2rem;
    margin-bottom: 15px;
    color: rgb(39, 39, 39);  
}
.habilidadhijo p{
    color: rgb(39, 39, 39);   
}




/*Proyecto*/

        /*El h2 titulo*/
.seccionProyectos .contenedorproyectosseccion h2{
    text-align: center;
    margin-bottom: 55px;
    padding: 0;
    font-size: 3rem;
    color: rgb(235, 235, 235);
}




/*Hover Header*/
header nav a:hover{
    background-color: yellow;
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/*Hover habilidades*/

.habilidadhijo:hover{
    cursor: pointer;
    transform: scale(1.03);
    transition: all 1s ease;
}

/*SubContenedores de los principales*/
.hero .contenedor-hero{
    background-color:rgb(32, 32, 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-basis: 30%;
    
}

.hero .contenedor-hero p{
    color: rgb(234, 234, 234);
    margin-top: 2.5rem;
    font-size: 1.5em;
}



.seccionHabilidades .contenedorHabilidades{
    
    background-color: rgb(39, 39, 39);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.seccionHabilidades .contenedorHabilidades .habilidadhijo{
    color: rgb(39, 39, 39);
    width: 335px;
    background-color:rgb(254, 218, 78) ;
    border-radius: 15px;
    text-align: center;
    padding: 0px 35px 50px 35px;


}
.seccionHabilidades .contenedorHabilidades .habilidadhijo .hijo-image{
    background-color:rgb(254, 218, 78) ;
    height: 250px;
    margin-bottom: -20px;
    background-size: cover;

}

/*proyectos*/
.contenedorProyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contenedorProyectospadre{
    display: flex;
    
    justify-content: space-between;
    background-color: rebeccapurple;
    flex-wrap: wrap;
    background-color:rgb(32, 32, 32);
}

.proyectohijo{
    border: 1px solid black;
    text-align:start;
    padding: 1.5rem;
    background-color: rgb(254, 218, 78);
    
}

.contenedorProyectospadre .contenedorProyectos .proyectohijo h2{
    font-size: 2rem;
    text-align: start;
    margin: 0;
    color: rgb(39, 39, 39);  
}

.contenedorProyectospadre .contenedorProyectos .proyectohijo p{
    margin-top: 1.5rem;
    font-size: 1rem;
    color: rgb(39, 39, 39);  
}

.contenedorProyectospadre .contenedorProyectos .proyectohijo{
    border-radius: 0.5rem;
    height: 21rem;
    width: 45rem;
    margin: 0rem 0 3rem 0;
    background-color: rgb(254, 218, 78);
    

}








/*About*/


.about h2{
    font-size: 2rem;
    text-align: center;
    margin-bottom: 55px;
    font-size: 3rem;
    color: rgb(234, 234, 234);
}

.about .contenedorabout{
    display: flex;
    justify-content: center;
    background-color: rgb(39, 39, 39)
}

.about .contenedorabout div img{
    border-radius: 50%;
    height: 15rem;
    width:15rem ;
   
    

}

.contenedorperfil{
    display: flex;
    flex-direction: column;


}

.contenedorperfil h3{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 3.5rem;
    color: rgb(234, 234, 234);
}


.about .contenedorabout .contenedorperfil .alineariconos{
    display: flex;
    justify-content: space-between;
    /*
    margin-right: 2rem;
    */
}

.about .contenedorabout .contenedorperfil .alineariconos a{
    margin-top: 1rem;
    font-size: 2.5rem;
    color: rgb(234, 234, 234);
}

.about .contenedorabout .textoperfil p{
    font-size: 1.5rem;
    color:rgb(234, 234, 234);;
}

.about .contenedorabout .textoperfil{
    margin-left: 17rem;
}


/*contactos-----------------*/
.seccionContactos .contenedorContact{
    display: flex;
    background-color: rgb(32, 32, 32);
   justify-content: space-evenly;
   margin-bottom: 10rem;
}

.seccionContactos .contenedorcontactosseccion .contenedorContact .textocontacto{
    background-color: rgb(32, 32, 32);
    width: 50rem;   
    margin: 0 2.5rem 1rem 0rem;
}
.formulario{
    background-color: rgb(39, 39, 39);
    width: 50rem;
    margin: 0 0rem 1rem 2.5rem;
}

input{
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    background-color: rgb(254, 218, 78);
}



textarea{
    border-radius: 0.5rem;
    resize: none;
    height: 10rem;
    padding: 0.5rem 1rem;
    background-color: rgb(254, 218, 78);

}


.seccionContactos .contenedorcontactosseccion h2{
    text-align: center;
    margin-bottom: 50px;
    font-size: 3rem;
    color: rgb(234, 234, 234);
}


.seccionContactos .contenedorcontactosseccion .contenedorContact .textocontacto p{
    font-size: 1rem;
    color:rgb(234, 234, 234);;
}



/*Escala*/
.seccionContactos .contenedorContact .escala{
    display: flex;
    flex-direction: column;
    font-weight: bold;
    
}

.seccionContactos .contenedorContact .escala .gris{
    display: flex;
    align-items: center;
    border-right: 3px solid rgb(208, 208, 208);
    height: 5.5rem;
    
    
}
/**/
.seccionContactos .contenedorContact .formulario{
    display: flex;
    flex-direction: column;
}






/*FOOTER*/

.seccionFooter{
    background-color:rgb(32, 32, 32);
    width: 100%;
    min-height: 40vh;
    display: flex;
    align-items: center;
}

.seccionFooter .contenedorFooter{
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: start;
    background-color:rgb(32, 32, 32);
    padding: 3rem 0rem;
    color: rgb(234, 234, 234);
}

.seccionFooter .contenedorFooter .iconosFooter{
    display: flex;
    flex-direction: row;
}

.textofooter{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.seccionFooter h1{
    color: rgb(254, 218, 78)
}

.listafooter h2{
    color: rgb(235, 235, 235);
}

.contactofooter h2{
    color: rgb(235, 235, 235);
}


.seccionFooter .contenedorFooter .textofooter p{
    font-size: 1.5rem;
}


.listafooter{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    gap: 1.7rem;
}

li{
    margin-bottom: 0.5rem;
}


.contactofooter{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    gap: 1.7rem;
}


.iconosFooter{
    flex-basis: 25%;
    display: flex;
    flex-direction: column;

}

.iconosFooter a{

    font-size: 2.5rem;
    margin-left: 6rem;
    color: rgb(235, 235, 235);
}